:root{
    /* -----------color------- */
    --black-color: #000000;
    --white-color: #FFFFFF;
    --light-white:#F4F4F4;
    /* ------size------- */
    --text-sm:14px;
    --text-sm-1:16px;
    --text-md:24px;
    --text-2xl:48px;
    --text-3xl:64px;
}
.bg-black{
    background: var(--black-color);
}
.fs-24{
    font-size: var(--text-md);
}
.fs-14{
    font-size: var(--text-sm);
}
.fs-48{
    font-size: var(--text-2xl);
}
.fs-16{
    font-size: var(--text-sm-1);
}
.fs-64{
    font-size: var(--text-3xl);
}
.fc-light-white{
    color: var(--light-white);
}
.fc-white{
    color: var(--white-color);
}

@media(max-width:992px){
    :root{
        --text-3xl:54px;
        --text-sm: 12px;
            --text-sm-1: 14x;
            --text-md: 18px;
            --text-2xl: 38px;
    }
}
@media(max-width:768px) {
    :root {
        --text-3xl: 44px;
        /* --text-sm: 10px;
        --text-sm-1: 12x;
        --text-md: 16px;
        --text-2xl: 28px; */
    }
}